# App
APP_ENV=dev
PORT=3000
ALLOWED_ORIGINS=http://localhost:5000,https://cxaa-dev.exlservice.com,https://cx-apps.exlservice.com

# Mongo
MONGO_URI=mongodb://127.0.0.1:27017/tcx
MONGO_TLS=false
MONGO_TLS_CA_FILE=
MONGO_AUTH_MECHANISM=

# AWS
AWS_REGION=us-east-1
REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
STORAGE_BUCKET_NAME=tcx-transcripts-dev
AUDIO_SQS_QUEUE_URL=

# Cognito
COGNITO_USERPOOL_ID=

# External services
DS_BASE_URL=http://10.90.114.99:3002/agent-builder/v1
DS_IVR_BASE_URL=https://whisperstream.exlservice.com/agent-builder/v1
DS_AGENTIC_BASE_URL=https://whisperstream.exlservice.com/cx-autonomous-agents/v1
QA_BASE_URL=http://10.90.126.167:5123/cx-agentic-eval

